#name {
    font-family: Quicksand;
}

#quote {
    font-family: Borel;
    text-align: center;
    position: relative;
    bottom: 416px;
    left: 500px;
    height: 80px;
    width: fit-content;
    display: inline-block;
    border-style: dotted;
    border-width: 5px;
    background-color: rgb(103, 152, 172);
    padding: 5px;
}

#passion2 {
    margin-left: 150px;
}

#passion3 {
    margin-left: 300px;
}

.passion {
    font-family: Quicksand;
    color: #FFF;
}

#rock {
    margin-left: 100px;
    margin-top: 100px;
}

#underWord {
    font-family: Quicksand;
    text-align: center;
    position: relative;
    bottom: 20px;
    left: 45%;
    border-style: dotted;
    border-width: 5px;
    width: fit-content;
    background-color: rgb(103, 152, 172);
    padding: 5px;
    
}

#Top {
    background-color: rgb(34, 110, 145);
    border-style: inset;
    border-width: 5px;
}

.background {
    background-image: url(https://i.pinimg.com/originals/eb/b7/17/ebb7174ea6e4dd282da62254ad21622e.jpg);
    background-size: cover;
}

#aboutground {
    background-image: url(https://jooinn.com/images/blue-metal-texture-6.jpg);
    background-size: cover;
}

#portground {
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/625/513/original/blue-space-stars-vector-background-night-sky.jpg);
    
    background-size: cover;
}

.firstProject {
    display: inline-block;
    background-color: rgb(233, 233, 202);
    padding: 10px 25px;
    text-decoration: none;
    border-style: outset;
    border-width: 5px;
    border-color: gray;
    margin: 5px;
    font-size: 14px;
    transition: font-size 4s , 1s;
    color: black;
}

.firstProject:hover {
    border-style: inset;
    font-size: 16px;  
}

.hobbies {
    border-style: solid;
    border-width: 5px;
    background-color: rgb(103, 152, 172);
    padding: 5px;
    margin: 5px;
    height: 250px;
}